.shop-content {
    background-color: #e5e5e5;
    height: max-content;
}

.shop-links {
    margin-right: 100px;
}

.shop-cart {
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    right: 60px;
}

.shop-content .navbar.navbar-expand-lg {
    background-color: #f3c9dd;
}

.all {
    color: #839b97 !important;
}

.form-check-label {
    color: #222;
}

.filter .form-label {
    font-size: 16px;
}

.sidebar .btn.btn-warning {
    width: 20%;
    text-transform: uppercase;
}

.d-flex.justify-content-center.my-4 {
    position: relative;
}

.card.filter-price p {
    margin-bottom: 0;
    position: absolute;
    top: 18px;
    left: 136px;
}

.card.filter-price input:before {
    content: '$0';
    position: absolute;
    top: 18px;
    left: 0;
}


/* Main Shop */

.shop-main {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.shop-main img {
    max-width: 100%;
    height: auto;
}

.shop-main .card-item {
    background-color: #fff;
}

.shop-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    position: relative;
    z-index: 1;
}

.card-text>p {
    font-size: 1.3rem !important;
}

.card-text>div>span {
    color: #d35d6e;
}

.shop-rating p {
    color: #ffa62b;
    font-size: 1.2rem !important;
}

.red {
    background-color: red;
    width: 10px;
}

.shop-product .card {
    cursor: pointer;
}

.btn-toShop {
    display: none;
}

.shop-product .card:hover .btn-toShop {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

@media screen and (max-width:1050px) {
    .shop-main {
        display: grid;
        grid-template-columns: 4fr 8fr;
    }
}

@media screen and (max-width:767px) {
    .sidebar .btn.btn-warning {
        width: 30%;
    }
    .shop-product {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-body {
        padding: 5px;
    }
    .card-text p {
        font-size: 14px;
    }
    .card-text div {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
    .card-text .shop-rating {
        flex-direction: row;
    }
}

@media screen and (max-width:500px) {
    .shop-product {
        display: grid;
        grid-template-columns: 1fr;
    }
}